#home {
  background-color: $light-gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
}

#home > * {
  margin-bottom: 80px;
}
