---
title: Le Wagon - Middleman
---
<div id="home">
    <!-- banner -->
    <%= partial("layouts/banner", :locals => {city: 'berlin' }) %>
    <!-- card grid -->
    <div class="container" style="padding:80px;">
        <div class="row">
            <% %w(shanghai, lisbon, copenhagen).each do |city| %>
            <div class="col-xs-12 col-sm-4">
                <%= partial("layouts/card", :locals => {city: city }) %>
            </div>
            <% end %>
        </div>
    </div>
    <%= link_to "Meet the team", "/about.html", class: "btn btn-primary" %>
</div>
